@media (min-width: 320px) {
  /* line 2, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications {
    background: #F5F5FA;
  }
  /* line 6, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
  /* line 14, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publicatons-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0px 20px 20px;
    position: relative;
  }
  /* line 21, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
  }
  /* line 28, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-link::after, .publication-vector::after, .publication-img::before, .equity::before,
  .milenial::before, .publication-card-title::before, .publication-card-date::after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 35, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-link::after {
    position: absolute;
    top: 3px;
    left: 83px;
    width: 12px;
    height: 12px;
  }
  /* line 42, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-vector::after {
    background-image: url(../images/blue-vector.svg);
    width: 5px;
    height: 9px;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* line 49, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications-title {
    font-family: "TT-Norms-Bold";
    font-size: 32px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* line 56, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* line 62, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 68, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(1) {
    order: 1;
  }
  /* line 71, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(2) {
    order: 3;
  }
  /* line 77, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(1) {
    order: 2;
  }
  /* line 80, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(2) {
    display: none;
  }
  /* line 84, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) {
    display: none;
  }
  /* line 86, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) .publication-card {
    margin-right: 0;
  }
  /* line 90, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0px 20px 20px 20px;
  }
  /* line 99, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(1) {
    margin-bottom: 0;
  }
  /* line 103, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-title, .public-card-title {
    font-size: 18px;
    color: #24A3FF;
    margin: 20px 20px 10px 20px;
  }
  /* line 108, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-date {
    font-size: 12px;
    color: #B3B3BA;
    font-weight: bold;
    margin: 0px 20px 20px 20px;
  }
  /* line 114, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-text {
    display: none;
  }
  /* line 117, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-title::before {
    min-width: 335px;
    min-height: 188px;
    max-height: 233px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 20px;
  }
  /* line 124, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-img::before {
    display: flex;
    align-items: stretch;
    position: relative;
    background-size: cover;
    left: -20px;
    margin-top: -20px;
    margin-right: -40px;
    min-width: 268px;
    height: 188px;
    border-radius: 8px 8px 0px 0px;
  }
  /* line 136, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .equity::before {
    background-image: url(../images/publication-img-equity.svg);
  }
  /* line 139, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .milenial::before {
    background-image: url(../images/publication-img-milenial.svg);
    background-position: top;
  }
  /* line 143, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .more-publication {
    width: 250px;
    height: 50px;
    position: relative;
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border: none;
  }
  /* line 156, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .btn-center {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  /* line 164, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 169, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publicatons-heading {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 40px 59px;
  }
  /* line 174, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 0;
  }
  /* line 181, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  /* line 186, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(1) {
    margin-left: 0;
  }
  /* line 191, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(2) .publication-card-text {
    height: 45px;
    overflow: hidden;
  }
  /* line 197, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) {
    justify-content: start;
  }
  /* line 199, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(1) {
    order: 0;
  }
  /* line 202, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(2) {
    display: block;
  }
  /* line 204, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(2) .publication-card-date, .publication-container:nth-child(2) .publication-card:nth-child(2) .publication-card-text {
    display: none;
  }
  /* line 209, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) {
    display: block;
    margin-right: 0;
  }
  /* line 213, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) .publication-card:nth-child(2) .publication-card-date, .publication-container:nth-child(3) .publication-card:nth-child(2) .publication-card-text {
    display: none;
  }
  /* line 218, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card {
    margin: 20px 20px 0px 0px;
    justify-content: center;
  }
  /* line 222, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-cards {
    bottom: 0;
  }
  /* line 225, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-text {
    display: block;
    font-size: 16px;
    color: #000000;
    margin: 0px 20px 20px 20px;
  }
  /* line 231, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-img::before {
    display: flex;
    align-items: stretch;
    position: relative;
    background-size: cover;
    left: -20px;
    margin-top: -20px;
    margin-right: -40px;
    min-width: 100px;
    height: 188px;
    border-radius: 8px 8px 0px 0px;
  }
  /* line 243, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .public-card {
    height: auto;
  }
  /* line 246, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .gdpr::before {
    background-image: url(../images/publication-img-gdpr.svg);
  }
  /* line 249, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .statue::before {
    background-image: url(../images/publication-img-state.svg);
    background-size: cover;
  }
  /* line 253, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .music::before {
    background-image: url(../images/publication-img-music.svg);
  }
  /* line 256, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-date::after {
    content: "";
    margin: 20px 20px 0px 0px;
    display: block;
    width: 100%;
    height: 4px;
    background: #E6E6F0;
  }
  /* line 264, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .public-shade {
    position: absolute;
    bottom: 0;
    bottom: 0px;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
  }
  /* line 272, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .btn-center {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 276, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .more-publication {
    position: absolute;
    bottom: 60px;
  }
}

@media (min-width: 1024px) {
  /* line 282, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications {
    margin-bottom: 0;
  }
  /* line 285, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publicatons-heading {
    display: flex;
  }
  /* line 288, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications-content {
    justify-content: center;
  }
  /* line 292, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-cards {
    margin: 0px;
  }
  /* line 295, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card {
    justify-content: center;
  }
  /* line 298, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container {
    width: 30%;
  }
  /* line 302, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications-title {
    font-size: 42px;
  }
  /* line 305, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publicatons-heading {
    margin: 40px 0px 40px 59px;
  }
  /* line 309, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(2) {
    overflow: hidden;
  }
  /* line 314, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) .publication-card:nth-child(1) {
    margin-right: 0;
  }
  /* line 317, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) .publication-card:nth-child(2) {
    margin-right: 0;
  }
}

/*# sourceMappingURL=publications-cards.css.map */