@media (min-width: 320px) {
  /* line 3, ../../Documents/hlegals/publication/scss/burger.scss */
  .slider-none, .gradient-none {
    display: none;
  }
  /* line 6, ../../Documents/hlegals/publication/scss/burger.scss */
  .mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;
  }
  /* line 14, ../../Documents/hlegals/publication/scss/burger.scss */
  .mobile-menu .logo-mini {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  /* line 19, ../../Documents/hlegals/publication/scss/burger.scss */
  .show-menu {
    display: block;
  }
  /* line 22, ../../Documents/hlegals/publication/scss/burger.scss */
  .link-container {
    margin-top: 15px;
  }
  /* line 25, ../../Documents/hlegals/publication/scss/burger.scss */
  .container {
    display: flex;
    justify-content: center;
    height: 54px;
    background: #F5F5FA;
    margin-bottom: 1px;
  }
  /* line 32, ../../Documents/hlegals/publication/scss/burger.scss */
  .container-active {
    background: #EDEDF7;
  }
  /* line 34, ../../Documents/hlegals/publication/scss/burger.scss */
  .container-active .links:hover, .container-active .links:active {
    color: #F0145A;
  }
  /* line 38, ../../Documents/hlegals/publication/scss/burger.scss */
  .links {
    text-decoration: none;
    color: #24A3FF;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }
  /* line 45, ../../Documents/hlegals/publication/scss/burger.scss */
  .links:hover, .links:active {
    color: #F0145A;
  }
  /* line 48, ../../Documents/hlegals/publication/scss/burger.scss */
  .burger-close {
    position: absolute;
    top: 12px;
    right: 12px;
    margin-left: 338px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
  }
  /* line 58, ../../Documents/hlegals/publication/scss/burger.scss */
  .burger-close::before,
  .burger-close::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 7px;
    width: 18px;
    height: 2px;
    background-color: #EC6F5D;
  }
  /* line 68, ../../Documents/hlegals/publication/scss/burger.scss */
  .burger-close::before {
    content: "";
    transform: rotate(45deg);
  }
  /* line 72, ../../Documents/hlegals/publication/scss/burger.scss */
  .burger-close::after {
    content: "";
    transform: rotate(-45deg);
  }
  /* line 76, ../../Documents/hlegals/publication/scss/burger.scss */
  .burger-close:hover, .burger-close-active {
    background: #EDEDF7;
    border-radius: 12px;
  }
}

@media (min-width: 320px) {
  /* line 2, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications {
    background: #F5F5FA;
  }
  /* line 6, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
  /* line 14, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publicatons-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0px 20px 20px;
    position: relative;
  }
  /* line 21, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
  }
  /* line 28, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-link::after, .publication-vector::after, .publication-img::before, .equity::before,
  .milenial::before, .publication-card-title::before, .publication-card-date::after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 35, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-link::after {
    position: absolute;
    top: 3px;
    left: 83px;
    width: 12px;
    height: 12px;
  }
  /* line 42, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-vector::after {
    background-image: url(../images/blue-vector.svg);
    width: 5px;
    height: 9px;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* line 49, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications-title {
    font-family: "TT-Norms-Bold";
    font-size: 32px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* line 56, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* line 62, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 68, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(1) {
    order: 1;
  }
  /* line 71, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(2) {
    order: 3;
  }
  /* line 77, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(1) {
    order: 2;
  }
  /* line 80, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(2) {
    display: none;
  }
  /* line 84, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) {
    display: none;
  }
  /* line 86, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) .publication-card {
    margin-right: 0;
  }
  /* line 90, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0px 20px 20px 20px;
  }
  /* line 99, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(1) {
    margin-bottom: 0;
  }
  /* line 103, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-title, .public-card-title {
    font-size: 18px;
    color: #24A3FF;
    margin: 20px 20px 10px 20px;
  }
  /* line 108, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-date {
    font-size: 12px;
    color: #B3B3BA;
    font-weight: bold;
    margin: 0px 20px 20px 20px;
  }
  /* line 114, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-text {
    display: none;
  }
  /* line 117, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-title::before {
    min-width: 335px;
    min-height: 188px;
    max-height: 233px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 20px;
  }
  /* line 124, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-img::before {
    display: flex;
    align-items: stretch;
    position: relative;
    background-size: cover;
    left: -20px;
    margin-top: -20px;
    margin-right: -40px;
    min-width: 268px;
    height: 188px;
    border-radius: 8px 8px 0px 0px;
  }
  /* line 136, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .equity::before {
    background-image: url(../images/publication-img-equity.svg);
  }
  /* line 139, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .milenial::before {
    background-image: url(../images/publication-img-milenial.svg);
    background-position: top;
  }
  /* line 143, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .more-publication {
    width: 250px;
    height: 50px;
    position: relative;
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border: none;
  }
  /* line 156, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .btn-center {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  /* line 164, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 169, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publicatons-heading {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 40px 59px;
  }
  /* line 174, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 0;
  }
  /* line 181, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  /* line 186, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(1) {
    margin-left: 0;
  }
  /* line 191, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(2) .publication-card-text {
    height: 45px;
    overflow: hidden;
  }
  /* line 197, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) {
    justify-content: start;
  }
  /* line 199, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(1) {
    order: 0;
  }
  /* line 202, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(2) {
    display: block;
  }
  /* line 204, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(2) .publication-card-date, .publication-container:nth-child(2) .publication-card:nth-child(2) .publication-card-text {
    display: none;
  }
  /* line 209, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) {
    display: block;
    margin-right: 0;
  }
  /* line 213, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) .publication-card:nth-child(2) .publication-card-date, .publication-container:nth-child(3) .publication-card:nth-child(2) .publication-card-text {
    display: none;
  }
  /* line 218, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card {
    margin: 20px 20px 0px 0px;
    justify-content: center;
  }
  /* line 222, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-cards {
    bottom: 0;
  }
  /* line 225, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-text {
    display: block;
    font-size: 16px;
    color: #000000;
    margin: 0px 20px 20px 20px;
  }
  /* line 231, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-img::before {
    display: flex;
    align-items: stretch;
    position: relative;
    background-size: cover;
    left: -20px;
    margin-top: -20px;
    margin-right: -40px;
    min-width: 100px;
    height: 188px;
    border-radius: 8px 8px 0px 0px;
  }
  /* line 243, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .public-card {
    height: auto;
  }
  /* line 246, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .gdpr::before {
    background-image: url(../images/publication-img-gdpr.svg);
  }
  /* line 249, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .statue::before {
    background-image: url(../images/publication-img-state.svg);
    background-size: cover;
  }
  /* line 253, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .music::before {
    background-image: url(../images/publication-img-music.svg);
  }
  /* line 256, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card-date::after {
    content: "";
    margin: 20px 20px 0px 0px;
    display: block;
    width: 100%;
    height: 4px;
    background: #E6E6F0;
  }
  /* line 264, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .public-shade {
    position: absolute;
    bottom: 0;
    bottom: 0px;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
  }
  /* line 272, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .btn-center {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* line 276, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .more-publication {
    position: absolute;
    bottom: 60px;
  }
}

@media (min-width: 1024px) {
  /* line 282, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications {
    margin-bottom: 0;
  }
  /* line 285, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publicatons-heading {
    display: flex;
  }
  /* line 288, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications-content {
    justify-content: center;
  }
  /* line 292, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-cards {
    margin: 0px;
  }
  /* line 295, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-card {
    justify-content: center;
  }
  /* line 298, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container {
    width: 30%;
  }
  /* line 302, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publications-title {
    font-size: 42px;
  }
  /* line 305, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publicatons-heading {
    margin: 40px 0px 40px 59px;
  }
  /* line 309, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(2) {
    overflow: hidden;
  }
  /* line 314, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) .publication-card:nth-child(1) {
    margin-right: 0;
  }
  /* line 317, ../../Documents/hlegals/publication/scss/publications-cards.scss */
  .publication-container:nth-child(3) .publication-card:nth-child(2) {
    margin-right: 0;
  }
}

@media (min-width: 320px) {
  /* line 2, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer {
    background: #F5F5FA;
    width: 100%;
    position: relative;
  }
  /* line 9, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 118px;
    position: relative;
  }
  /* line 19, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 28, ../../Documents/hlegals/publication/scss/footer.scss */
  .address-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  /* line 34, ../../Documents/hlegals/publication/scss/footer.scss */
  .address-footer, .tel-footer {
    font-size: 16px;
    font-style: normal;
    color: #323264;
    text-align: center;
    font-weight: bold;
  }
  /* line 41, ../../Documents/hlegals/publication/scss/footer.scss */
  .address-footer {
    margin-bottom: 10px;
  }
  /* line 44, ../../Documents/hlegals/publication/scss/footer.scss */
  .address-link {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
    text-align: center;
  }
  /* line 52, ../../Documents/hlegals/publication/scss/footer.scss */
  .address-link:hover, .mail:hover {
    color: #F0145A;
  }
  /* line 56, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-inform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  /* line 62, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-facebook {
    background-image: url(../images/facebook-blue.svg);
    width: 38px;
    height: 38px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: relative;
    left: 48%;
  }
  /* line 72, ../../Documents/hlegals/publication/scss/footer.scss */
  .tel-footer {
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
  }
  /* line 77, ../../Documents/hlegals/publication/scss/footer.scss */
  .mail {
    text-decoration: none;
    font-size: 16px;
    color: #24A3FF;
    text-align: center;
  }
  /* line 83, ../../Documents/hlegals/publication/scss/footer.scss */
  .hlegals-about {
    display: flex;
    justify-content: center;
    margin: 0px 20px 0px 20px;
  }
  /* line 88, ../../Documents/hlegals/publication/scss/footer.scss */
  .hlegals-about-text {
    font-size: 16px;
    color: #B3B3BA;
    text-align: center;
  }
  /* line 93, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-content::before {
    content: "";
    position: absolute;
    top: 0;
    margin: 0px 20px 30px 20px;
    display: block;
    width: 95%;
    height: 4px;
    background: #E6E6F0;
  }
}

@media (min-width: 1024px) {
  /* line 105, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer {
    position: relative;
  }
  /* line 108, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-contacts {
    margin: 0px 0px 0px 100px;
    justify-content: flex-start;
  }
  /* line 112, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 0;
  }
  /* line 118, ../../Documents/hlegals/publication/scss/footer.scss */
  .address-container {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
  /* line 123, ../../Documents/hlegals/publication/scss/footer.scss */
  .address-footer {
    text-align: start;
    margin-right: 47px;
  }
  /* line 127, ../../Documents/hlegals/publication/scss/footer.scss */
  .address-link {
    vertical-align: bottom;
    margin-top: 2px;
  }
  /* line 131, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-inform {
    flex-direction: row;
    margin-bottom: 0;
  }
  /* line 135, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-facebook {
    position: relative;
    margin-right: 12px;
    left: -12px;
    bottom: 10px;
    margin-bottom: 0;
  }
  /* line 142, ../../Documents/hlegals/publication/scss/footer.scss */
  .tel-footer {
    margin-right: 26px;
    margin-bottom: 0;
  }
  /* line 146, ../../Documents/hlegals/publication/scss/footer.scss */
  .mail {
    margin-bottom: 0;
  }
  /* line 149, ../../Documents/hlegals/publication/scss/footer.scss */
  .point-gray::after {
    content: "";
    background-image: url(../images/point-gray.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 6px;
    height: 6px;
    padding-right: 10px;
  }
  /* line 158, ../../Documents/hlegals/publication/scss/footer.scss */
  .address-footer::after {
    content: "";
    position: relative;
    left: 33px;
  }
  /* line 163, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-facebook::after {
    content: "";
    position: relative;
    left: 48px;
    top: 10px;
  }
  /* line 169, ../../Documents/hlegals/publication/scss/footer.scss */
  .tel-footer::after {
    content: "";
    position: relative;
    left: 15px;
  }
  /* line 175, ../../Documents/hlegals/publication/scss/footer.scss */
  .hlegals-about {
    margin: 20px 60px 0px 0px;
  }
  /* line 178, ../../Documents/hlegals/publication/scss/footer.scss */
  .footer-content::before {
    content: "";
    position: absolute;
    left: 40px;
    margin: 0px 40px 30px 40px;
    display: block;
    width: 90%;
    height: 4px;
    background: #E6E6F0;
  }
}

/* line 4, ../../Documents/hlegals/publication/scss/style.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 9, ../../Documents/hlegals/publication/scss/style.scss */
body {
  color: #000000;
  font-family: "TT-Norms";
}

@media (min-width: 320px) {
  /* line 14, ../../Documents/hlegals/publication/scss/style.scss */
  .wrapper {
    min-width: 320px;
    padding-top: 20px;
    margin: 0px 20px 0px 20px;
  }
  /* line 19, ../../Documents/hlegals/publication/scss/style.scss */
  .publication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  /* line 29, ../../Documents/hlegals/publication/scss/style.scss */
  .header-content .inform {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  /* line 36, ../../Documents/hlegals/publication/scss/style.scss */
  .tel {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    right: 20px;
  }
  /* line 43, ../../Documents/hlegals/publication/scss/style.scss */
  .menu {
    display: none;
  }
  /* line 44, ../../Documents/hlegals/publication/scss/style.scss */
  .address {
    display: none;
  }
  /* line 47, ../../Documents/hlegals/publication/scss/style.scss */
  .ua, .ru, .en, .tel {
    color: #B3B3BA;
    text-decoration: none;
  }
  /* line 51, ../../Documents/hlegals/publication/scss/style.scss */
  .ua, .ru, .en {
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
  /* line 57, ../../Documents/hlegals/publication/scss/style.scss */
  .active, .ua:hover, .ru:hover, .en:hover {
    width: 29px;
    height: 24px;
    border-radius: 8px;
    background: #F0145A;
    color: #ffffff;
  }
  /* line 64, ../../Documents/hlegals/publication/scss/style.scss */
  .active {
    background: #F0145A;
    color: #fff;
  }
  /* line 68, ../../Documents/hlegals/publication/scss/style.scss */
  .ua:hover, .ru:hover, .en:hover {
    background: #EDEDF7;
    color: #B3B3BA;
  }
  /* line 73, ../../Documents/hlegals/publication/scss/style.scss */
  .logo {
    display: flex;
    justify-content: space-between;
  }
  /* line 76, ../../Documents/hlegals/publication/scss/style.scss */
  .logo .logo-img {
    height: 31px;
    width: 208px;
  }
  /* line 80, ../../Documents/hlegals/publication/scss/style.scss */
  .logo .burger {
    background-image: url(../images/burger-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
  }
  /* line 89, ../../Documents/hlegals/publication/scss/style.scss */
  .logo .burger:hover {
    border-radius: 12px;
    background: #EDEDF7;
  }
  /* line 94, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 100, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  /* line 107, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-title {
    font-size: 22px;
    color: #323264;
    margin-bottom: 10px;
  }
  /* line 112, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-title::before, .publication-img-big::before, .gdpr::before, .publication-date::after {
    content: "";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* line 119, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-title::before {
    height: 211px;
    display: block;
  }
  /* line 123, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-img-big::before {
    height: 211px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px 12px 0px 0px;
  }
  /* line 130, ../../Documents/hlegals/publication/scss/style.scss */
  .gdpr::before {
    background-image: url(../images/gdpr.svg);
  }
  /* line 133, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-date {
    font-size: 12px;
    text-transform: uppercase;
    color: #B3B3BA;
    font-weight: bold;
  }
  /* line 141, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-date::after {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    height: 4px;
    width: 100%;
    background: #EDEDF7;
  }
  /* line 149, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-text {
    font-size: 18px;
  }
  /* line 152, ../../Documents/hlegals/publication/scss/style.scss */
  .important-information {
    font-size: 32px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'TT-Norms-Bold';
    margin-bottom: 40px;
  }
  /* line 160, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-inform {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 166, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-inform-title {
    font-size: 18px;
    color: #46466E;
    margin-bottom: 20px;
  }
  /* line 171, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-inform-text-ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    counter-reset: num;
  }
  /* line 177, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-inform-text-ol .publication-text-ol {
    margin-bottom: 10px;
  }
  /* line 180, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-inform-text-ol .publication-text-ol:last-child {
    margin-bottom: 0;
  }
  /* line 183, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-inform-text-ol .publication-text-ol::before {
    content: counter(num) ". ";
    counter-increment: num;
    font-size: 18px;
    color: #F0145A;
    font-weight: bold;
    margin-right: 10px;
  }
  /* line 193, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-inform-text:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* line 201, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-text:nth-child(1) {
    margin-bottom: 20px;
    margin-right: 0;
  }
  /* line 205, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-text:nth-child(1)::after {
    content: "";
    height: 233px;
    display: block;
  }
  /* line 211, ../../Documents/hlegals/publication/scss/style.scss */
  .inform-img::after {
    content: "";
    height: 233px;
    display: block;
    margin-right: 0;
  }
  /* line 218, ../../Documents/hlegals/publication/scss/style.scss */
  .google-img::after {
    content: "";
    background-image: url(../images/google-personalization.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0;
    margin-top: 20px;
  }
  /* line 227, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-img-explanation {
    font-size: 16px;
    color: #B3B3BA;
    margin-bottom: 20px;
  }
  /* line 236, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-inform-text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 243, ../../Documents/hlegals/publication/scss/style.scss */
  .account-links {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  /* line 251, ../../Documents/hlegals/publication/scss/style.scss */
  .account-links::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 90%;
    background: #E6E6F0;
  }
  /* line 260, ../../Documents/hlegals/publication/scss/style.scss */
  .link-ac {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    background: #F5F5FA;
    margin-right: 10px;
    display: block;
    margin-top: 20px;
  }
  /* line 269, ../../Documents/hlegals/publication/scss/style.scss */
  .link-ac:last-child {
    margin-right: 0;
  }
  /* line 272, ../../Documents/hlegals/publication/scss/style.scss */
  .ac-img::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    margin: 9px;
  }
  /* line 279, ../../Documents/hlegals/publication/scss/style.scss */
  .ac-facebook::before, .ac-telegram::before, .ac-in::before {
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* line 285, ../../Documents/hlegals/publication/scss/style.scss */
  .ac-facebook::before {
    background-image: url(../images/ac-facebook.svg);
  }
  /* line 288, ../../Documents/hlegals/publication/scss/style.scss */
  .ac-telegram::before {
    background-image: url(../images/ac-telegram.svg);
  }
  /* line 291, ../../Documents/hlegals/publication/scss/style.scss */
  .ac-in::before {
    background-image: url(../images/ac-in.svg);
  }
  /* line 294, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-date::after {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /* line 298, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-contain {
    margin-bottom: 40px;
  }
  /* line 301, ../../Documents/hlegals/publication/scss/style.scss */
  .important-information {
    font-size: 42px;
  }
}

@media (min-width: 1024px) {
  /* line 313, ../../Documents/hlegals/publication/scss/style.scss */
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 324, ../../Documents/hlegals/publication/scss/style.scss */
  .logo .logo-img {
    height: 63px;
    width: 413px;
  }
  /* line 328, ../../Documents/hlegals/publication/scss/style.scss */
  .logo .burger {
    display: none;
  }
  /* line 332, ../../Documents/hlegals/publication/scss/style.scss */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 50px;
    margin-bottom: 60px;
  }
  /* line 342, ../../Documents/hlegals/publication/scss/style.scss */
  .header-content {
    display: flex;
    flex-direction: row-reverse;
    order: 2;
    position: relative;
    min-width: 550px;
  }
  /* line 349, ../../Documents/hlegals/publication/scss/style.scss */
  .inform {
    display: flex;
    flex-direction: row;
  }
  /* line 353, ../../Documents/hlegals/publication/scss/style.scss */
  .facebook {
    background-image: url(../images/facebook-grey.svg);
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 5px;
  }
  /* line 360, ../../Documents/hlegals/publication/scss/style.scss */
  .lang {
    margin-right: 20px;
  }
  /* line 364, ../../Documents/hlegals/publication/scss/style.scss */
  .point::after {
    content: "";
    background-image: url(../images/point.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 6px;
    height: 6px;
    padding-right: 13px;
  }
  /* line 373, ../../Documents/hlegals/publication/scss/style.scss */
  .lang::after, .address::after, .tel::after {
    content: "";
    position: absolute;
  }
  /* line 377, ../../Documents/hlegals/publication/scss/style.scss */
  .lang::after {
    right: 415px;
    top: 8px;
  }
  /* line 381, ../../Documents/hlegals/publication/scss/style.scss */
  .address::after {
    right: 190px;
    top: 8px;
  }
  /* line 385, ../../Documents/hlegals/publication/scss/style.scss */
  .tel::after {
    right: 25px;
    top: 8px;
  }
  /* line 389, ../../Documents/hlegals/publication/scss/style.scss */
  .ua, .ru, .en, .tel {
    color: #B3B3BA;
  }
  /* line 392, ../../Documents/hlegals/publication/scss/style.scss */
  .address {
    display: block;
    margin-right: 20px;
    font-size: 16px;
    font-style: normal;
    color: #B3B3BA;
  }
  /* line 399, ../../Documents/hlegals/publication/scss/style.scss */
  .tel {
    position: static;
    margin-right: 26px;
  }
  /* line 403, ../../Documents/hlegals/publication/scss/style.scss */
  .links {
    font-size: 18px;
    margin-right: 15px;
    color: #24A3FF;
  }
  /* line 409, ../../Documents/hlegals/publication/scss/style.scss */
  .links:last-child {
    margin-right: 0;
  }
  /* line 412, ../../Documents/hlegals/publication/scss/style.scss */
  .menu {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 94px;
    right: 0;
    order: 2;
  }
  /* line 421, ../../Documents/hlegals/publication/scss/style.scss */
  .menu-active {
    text-decoration: underline;
    color: #F0145A;
  }
  /* line 425, ../../Documents/hlegals/publication/scss/style.scss */
  .links:hover {
    color: #F0145A;
  }
  /* line 428, ../../Documents/hlegals/publication/scss/style.scss */
  .active {
    background: #F0145A;
    color: #fff;
  }
  /* line 436, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-title::before {
    height: 511px;
  }
  /* line 440, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-img-big::before {
    margin-top: 0;
    margin-bottom: 40px;
  }
  /* line 444, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-title {
    font-size: 32px;
  }
  /* line 447, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-inform-text:nth-child(1) {
    margin-top: 25px;
  }
  /* line 450, ../../Documents/hlegals/publication/scss/style.scss */
  .google-img::after {
    margin-top: 40px;
  }
  /* line 454, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-img-explanation {
    margin-bottom: 40px;
  }
  /* line 457, ../../Documents/hlegals/publication/scss/style.scss */
  .publication-inform-title {
    margin-bottom: 25px;
  }
  /* line 460, ../../Documents/hlegals/publication/scss/style.scss */
  .account-links {
    align-items: flex-start;
    justify-content: flex-start;
  }
  /* line 464, ../../Documents/hlegals/publication/scss/style.scss */
  .account-links::before {
    width: 100%;
  }
}

@font-face {
  font-family: "TT-Norms";
  src: url(../fonts/TTNorms/TTNorms-Regular.otf);
}

@font-face {
  font-family: "TT-Norms-Bold";
  src: url(../fonts/TTNorms/TTNorms-Bold.otf);
}

/*# sourceMappingURL=style.css.map */