*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mobile-menu{
    // display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
    .burger-close{
        width: 32px;
        height: 32px;
        background-color:transparent;
        border: none;
    }
    // .burger-close::before,
    // .burger-close::after{
    //     content: "";
    //     position: absolute;
    //     top: 12px;
    //     right: 12px;
    //     width: 18px;
    //     height: 2px;
    //     background-color: #EC6F5D; 
    // }
    // .burger-close::before{
    //     content: "";
    //     transform: rotate(45deg);
    // }
    // .burger-close::after{
    //     content: "";
    //     transform: rotate(-45deg);
    // }
    // .burger-close:hover,
    // .burger-close:active{
    //     outline: 2px solid #EC6F5D;
    // }
