@media (min-width: 320px) {
  /* line 2, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication {
    margin-bottom: 23px;
    background: #F5F5FA;
  }
  /* line 6, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 13, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publicaton-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0px 20px 20px;
    position: relative;
  }
  /* line 20, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
  }
  /* line 27, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-link::after, .publication-vector::after, .publication-img::before, .equity::before,
  .milenial::before, .publication-card-title::before, .publication-card-date::after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 34, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-link::after {
    position: absolute;
    top: 3px;
    left: 83px;
    width: 12px;
    height: 12px;
  }
  /* line 41, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-vector::after {
    background-image: url(../images/blue-vector.svg);
    width: 5px;
    height: 9px;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* line 48, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-title {
    font-family: "TT-Norms-Bold";
    font-size: 32px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* line 55, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* line 61, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 67, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(1) {
    order: 1;
  }
  /* line 70, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(2) {
    order: 3;
  }
  /* line 76, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(1) {
    order: 2;
  }
  /* line 79, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(2) {
    display: none;
  }
  /* line 83, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(3) {
    display: none;
  }
  /* line 85, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(3) .publication-card {
    margin-right: 0;
  }
  /* line 89, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0px 20px 20px 20px;
  }
  /* line 98, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(1) {
    margin-bottom: 0;
  }
  /* line 102, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-card-title, .public-card-title {
    font-size: 18px;
    color: #24A3FF;
    margin: 20px 20px 10px 20px;
  }
  /* line 107, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-card-date {
    font-size: 12px;
    color: #B3B3BA;
    font-weight: bold;
    margin: 0px 20px 20px 20px;
  }
  /* line 113, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-card-text {
    display: none;
  }
  /* line 116, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-card-title::before {
    min-width: 335px;
    min-height: 188px;
    max-height: 233px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 20px;
  }
  /* line 123, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-img::before {
    display: flex;
    align-items: stretch;
    position: relative;
    background-size: cover;
    left: -20px;
    margin-top: -20px;
    margin-right: -40px;
    min-width: 268px;
    height: 188px;
    border-radius: 8px 8px 0px 0px;
  }
  /* line 135, ../../Documents/hlegals/services-it/scss/publication.scss */
  .equity::before {
    background-image: url(../images/publication-img-equity.svg);
  }
  /* line 138, ../../Documents/hlegals/services-it/scss/publication.scss */
  .milenial::before {
    background-image: url(../images/publication-img-milenial.svg);
    background-position: top;
  }
  /* line 142, ../../Documents/hlegals/services-it/scss/publication.scss */
  .more-publication {
    width: 250px;
    height: 50px;
    position: relative;
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    margin-bottom: 40px;
  }
  /* line 155, ../../Documents/hlegals/services-it/scss/publication.scss */
  .btn-center {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  /* line 162, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 167, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publicaton-heading {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 40px 59px;
  }
  /* line 172, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 0;
  }
  /* line 179, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  /* line 184, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(1) {
    margin-left: 0;
  }
  /* line 189, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(2) .publication-card-text {
    height: 45px;
    overflow: hidden;
  }
  /* line 195, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(2) {
    justify-content: start;
  }
  /* line 197, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(1) {
    order: 0;
  }
  /* line 200, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(2) {
    display: block;
  }
  /* line 202, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(2) .publication-card:nth-child(2) .publication-card-date, .publication-container:nth-child(2) .publication-card:nth-child(2) .publication-card-text {
    display: none;
  }
  /* line 207, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(3) {
    display: block;
    margin-right: 0;
  }
  /* line 211, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(3) .publication-card:nth-child(2) .publication-card-date, .publication-container:nth-child(3) .publication-card:nth-child(2) .publication-card-text {
    display: none;
  }
  /* line 216, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-card {
    margin: 20px 20px 0px 0px;
    justify-content: center;
  }
  /* line 220, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-cards {
    bottom: 0;
  }
  /* line 223, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-card-text {
    display: block;
    font-size: 16px;
    color: #000000;
    margin: 0px 20px 20px 20px;
  }
  /* line 229, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-img::before {
    display: flex;
    align-items: stretch;
    position: relative;
    background-size: cover;
    left: -20px;
    margin-top: -20px;
    margin-right: -40px;
    min-width: 100px;
    height: 188px;
    border-radius: 8px 8px 0px 0px;
  }
  /* line 241, ../../Documents/hlegals/services-it/scss/publication.scss */
  .public-card {
    height: auto;
  }
  /* line 244, ../../Documents/hlegals/services-it/scss/publication.scss */
  .gdpr::before {
    background-image: url(../images/publication-img-gdpr.svg);
  }
  /* line 247, ../../Documents/hlegals/services-it/scss/publication.scss */
  .statue::before {
    background-image: url(../images/publication-img-state.svg);
    background-size: cover;
  }
  /* line 251, ../../Documents/hlegals/services-it/scss/publication.scss */
  .music::before {
    background-image: url(../images/publication-img-music.svg);
  }
  /* line 254, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-card-date::after {
    content: "";
    margin: 20px 20px 0px 0px;
    display: block;
    width: 100%;
    height: 4px;
    background: #E6E6F0;
  }
  /* line 262, ../../Documents/hlegals/services-it/scss/publication.scss */
  .public-shade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
  }
  /* line 270, ../../Documents/hlegals/services-it/scss/publication.scss */
  .btn-center {
    margin-top: 0;
  }
  /* line 273, ../../Documents/hlegals/services-it/scss/publication.scss */
  .more-publication {
    position: absolute;
    bottom: 10px;
  }
}

@media (min-width: 1024px) {
  /* line 279, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication {
    margin-bottom: 0;
  }
  /* line 282, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publicaton-heading {
    display: flex;
  }
  /* line 285, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-content {
    justify-content: center;
  }
  /* line 289, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-cards {
    margin: 0px;
  }
  /* line 292, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-card {
    justify-content: center;
  }
  /* line 295, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container {
    width: 30%;
  }
  /* line 299, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-title {
    font-size: 42px;
  }
  /* line 302, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publicaton-heading {
    margin: 40px 0px 40px 59px;
  }
  /* line 306, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(1) .publication-card:nth-child(2) {
    overflow: hidden;
  }
  /* line 311, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(3) .publication-card:nth-child(1) {
    margin-right: 0;
  }
  /* line 314, ../../Documents/hlegals/services-it/scss/publication.scss */
  .publication-container:nth-child(3) .publication-card:nth-child(2) {
    margin-right: 0;
  }
  /* line 319, ../../Documents/hlegals/services-it/scss/publication.scss */
  .public-shade {
    bottom: 0;
  }
}

/*# sourceMappingURL=publication.css.map */