
@media(min-width:320px){
    .cases{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding-top: 20px;
        margin: 20px 20px 30px 20px;
    }
    .flex-container1, .flex-container2{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }
    .united-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-label{
        background: #F5F5FA;
        box-sizing: border-box;
        border-radius: 12px 0px 0px 0px;
        margin-bottom: 2px;
    }
    .cases-label{
        font-size: 14px;
        text-transform: uppercase;
        color: #F0145A;
        margin: 20px 0px 20px 20px;
    }
    .cases-card{
        background: #F5F5FA;
        width: 100%;
        margin-bottom: 2px;
    }
    .flex-container2{
        .cases-card:last-child{
            border-radius: 0px 0px 12px 12px;
            margin-bottom: 0;
        }
    }
    .cases-text{
        margin: 20px 20px 57px 20px;
        font-size: 18px;
        color: #686887;
    }
    .cases-text::after{
        content: "";
        font-size: 18px;
        color: #B3B3BA;
        top: 93px;
        left: 21px;
    }
    .text-3dlook::after, .text-adtelligent::after, .text-hillel::after, .text-clikky::after,
    .text-tapgerine::after, .text-wannabiz::after{
        position: relative;
        top: 10px;
        white-space: pre;
    }
    .text-hillel::after{
        content: "\AHillel IT School"; 
        white-space: pre;  
    }
    .text-wannabiz::after{
        content: "\AWannaBiz";
    }
    .text-tapgerine::after{
        content: "\ATapgerine";
    }
    .text-3dlook::after{
        content: "\A 3D LOOK";
    }
    .text-adtelligent::after{
        content: "\A Adtelligent";
    }
    .text-clikky::after{
        content: "\A Clikky";
    }

}
@media(min-width:1024px){
    .cases{
        margin: 40px 60px 30px 60px;
    }
    .flex-container1, .flex-container2{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .cases-card{
        margin-right: 2px;
    }
    .cases-card:last-child{
        margin-bottom: 2px;
        margin-right: 0;
    }
    .flex-container1{
        .cases-card:nth-child(1){
            width: 32%;
            .cases-text{
                margin: 48px 20px 66px 20px;
            }
        }
        .cases-card:nth-child(3){
            width: 32%;
            border-radius: 0px 12px 0px 0px;
            .cases-text{
                margin: 105px 20px 66px 20px;
            }
        }
        .cases-card:nth-child(2){
            width: 36%;
            .cases-text{
                margin: 105px 20px 66px 20px;
            }
        }
    }
    .flex-container2{
        .cases-card:nth-child(3){
            width: 42%;
            border-radius: 0px 0px 12px 0px;
            .cases-text{
                margin: 76px 20px 66px 20px;   
            }
        } 
        .cases-card:nth-child(1){
            width: 26%;
            border-radius: 0px 0px 0px 12px;
            .cases-text{
                margin: 20px 20px 66px 20px;
            }
        } 
        .cases-card:nth-child(2){
            width: 32%;
            .cases-text{
                margin: 76px 20px 66px 20px;
            }
        }
    }
    .cases-text{
        font-size: 24px;
    }
    .flex-container1{
        .united-card{
            width: 32%;
            margin-right: 2px;
            .cases-card{
                width: 100%;
            }
        }
    }
}