@import "burger.scss";
@import "footer.scss";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #000000;
    font-family: "TT-Norms";
}
@media(min-width:320px){
    .wrapper{
        min-width: 320px;
        padding-top: 20px;
        margin: 0px 20px 0px 20px;
    }
    .publications{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
     .header{
        margin-bottom: 20px;
    }
    .header-content{
        .inform{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    }
    .tel{
        position:absolute;
        // right: 0;
        font-size: 16px;
        font-weight: bold;
        right: 20px;
    }
    .menu{display: none;}
    .address{
        display: none;
    }
    .ua,.ru, .en, .tel{
        color: #B3B3BA;
        text-decoration: none;
    }
    .ua, .ru, .en{
        padding: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
    .active, .ua:hover, .ru:hover, .en:hover {
        width: 29px;
        height: 24px;
        border-radius: 8px;
        background: #F0145A; 
        color: #ffffff;
    }
    .active{
        background: #F0145A; 
        color: #fff;
    }
    .ua:hover, .ru:hover, .en:hover
    {
        background: #EDEDF7;
        color: #B3B3BA;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        .logo-img{
            height: 31px;
            width: 208px;
        }
        .burger{
            background-image: url(../images/burger-black.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            width: 32px;
            height: 32px;
        }
        .burger:hover{
            border-radius: 12px;
            background: #EDEDF7;
        }
    }
    .publications-checkbox{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .btn-publications{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 260px;
        height: 40px;
        background: #E6E6F0;
        border-radius: 12px;
    }
    .btn-p{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: #E6E6F0;
        width: 50%;
        font-size: 18px;
        color: #323264;
        font-weight: bold;
    }
    .checkbox-active{
        background: #FFFFFF;
        border-radius: 10px;
        height: 100%;
        border: 2px solid #E6E6F0;
        // height: 36px;
    }

    .publication{
        margin-bottom: 23px;
        background: #F5F5FA;
    }
    .publication-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: -20px;
        margin-right: -20px;
        background: #F5F5FA;
        padding-top: 20px;
        // margin-bottom: 40px;
    }
    .publicaton-heading{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px 0px 20px 20px;
        position: relative;
    }
    .publication-link{
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        color: #24A3FF;
        text-decoration: none;
    }
    .publication-link::after,.publication-vector::after, .publication-img::before, .equity::before,
    .milenial::before, .publication-card-title::before, .publication-card-date::after, .adaptive-site::before, .gdpr::before, .child-education::before{
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    .publication-link::after{
        position: absolute;
        top: 3px;
        left: 83px;
        width: 12px;
        height: 12px;
    }
    .publication-vector::after{
        background-image: url(../images/blue-vector.svg);
        width: 5px;
        height: 9px; 
        background-position: center;
        background-repeat: no-repeat;
    }
    .publication-title{
        font-family: "TT-Norms-Bold";
        font-size: 32px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .publication-cards{
        display: flex;
        justify-content: center;
        flex-direction: column;
        // margin-left: 20px;
        // margin-bottom: 40px;
    }
    .publication-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .publication-cards:nth-child(1){
        .publication-container:nth-child(1){
            .publication-card:nth-child(1){
                order:1;
            }
            .publication-card:nth-child(2){
                order: 3;
            }
        }
    }
        .publication-container:nth-child(2){
            // margin-bottom: 20px;
            .publication-card:nth-child(1){
                order: 2;
                margin-bottom: 20px;
            }
            .publication-card:nth-child(2){
               order: 4;
            }
         }
         .publication-container:nth-child(3){
             .publication-card:nth-child(1){
                 order: 6;
             }
             .publication-card:nth-child(2){
                 order: 5;
             }
         }
        .hide-before::before{
            display: none;
        }

    .publication-cards:nth-child(2){
        display: none;
    }
    .publication-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 8px;
        margin: 0px 20px 20px 20px;
    }
    .publication-container:nth-child(2){
        .publication-card:nth-child(1){
            margin-bottom: 0;
        }
    }
    .publication-card-title, .public-card-title{
        font-size: 18px;
        color: #24A3FF;
        margin: 20px 20px 10px 20px; 
    }
    .publication-card-date{
        font-size: 12px;
        color: #B3B3BA;
        font-weight: bold;
        margin: 0px 20px 20px 20px;
    }
    .publication-card-text{
        display: none;
    }
        .publication-card-title::before{
            min-width: 335px;
            min-height: 188px;
            max-height: 233px;
            border-radius: 8px 8px 0px 0px;
            margin-bottom: 20px;
        }
        .publication-img::before{
            display: flex;
            align-items: stretch;
            position: relative;
            background-size: cover;
            left: -20px;
            margin-top: -20px;
            margin-right: -40px;
            min-width: 268px;
            height: 188px;
            border-radius: 8px 8px 0px 0px;
        }
        .equity::before{
            background-image: url(../images/equity.svg);
            background-position: top;
        }
        .milenial::before{
            background-image: url(../images/milenial.png);
            background-position: top;  
        }
        .adaptive-site::before{
            background-image: url(../images/adaptive-site.svg);
        }
        .gdpr::before{
            background-image: url(../images/gdpr.svg);
        }
        .child-education::before{
            background-image: url(../images/child-education.svg);
        }
        .more-publication{
            width: 250px;
            height: 50px;
            // position: relative;
            background: #24A3FF;
            box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
            border-radius: 12px;
            font-size: 14px;
            color: #FFFFFF;
            text-align: center;
            border: none;
            // margin-bottom: 40px;
        }
        .btn-center{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 40px;
        }
}

@media(min-width:768px){
    // .publication-cards{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    // }
    .publicaton-heading{
        display: flex;
        flex-direction: column;
        margin: 40px 0px 40px 59px; 
    }
    .publication-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // justify-content: flex-start;
        position: relative;
        bottom: 0;
        // margin-bottom: 40px;
    }
    .publication-container{
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .publication-card{
        margin: 20px 20px 0px 0px;
        justify-content: center; 
    }
    .publication-cards{
        bottom: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
    }
    .publication-card-text{
        display: block;
        font-size: 16px;
        color: #000000;
        margin: 0px 20px 20px 20px;
    }   
         .publication-img::before{
            display: flex;
            align-items: stretch;
            position: relative;
            background-size: cover;
            left: -20px;
            margin-top: -20px;
            margin-right: -40px;
            min-width: 100px;
            height: 188px;
            border-radius: 8px 8px 0px 0px;
        }
        .publication-card-date::after{
            content: "";
            margin: 20px 20px 0px 0px;
            display: block;
            width: 100%;
            height: 4px;
            background: #E6E6F0;
        }
        .publication-cards:nth-child(2){
            display: flex;
        }
        .publication-link::after,.publication-vector::after, .publication-img::before, .equity::before,
    .milenial::before, .publication-card-title::before, .publication-card-date::after, .adaptive-site::before, .gdpr::before, .child-education::before{
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
    }
    .btn-center{
        margin-bottom: 60px;
    }
}

   
@media(min-width:1024px){
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    // .team-members{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     position: relative;
    //     align-items: center;
    //     margin: 0;
    //     padding: 0;
    // }
    .logo{
        .logo-img{
            height: 63px;
            width: 413px;
        }
        .burger{
            display: none;
        }
    }
    .header{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        position: relative;
        // margin: 0px 60px 80px 60px;
        padding-top: 50px;
        margin-bottom: 80px;
    }
    .header-content{
        display: flex;
        flex-direction: row-reverse;
        order:2;
        position: relative;
        min-width: 550px;
    }
    .inform{
        display: flex;
        flex-direction: row;
    }
    .facebook{
        background-image: url(../images/facebook-grey.svg);
        width: 24px;
        height: 24px;
        position: relative;
        bottom: 5px;
    }
    .lang{
        margin-right: 20px;
    }
    
    .point::after{
        content: "";
        background-image: url(../images/point.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 6px;
        height: 6px;
        padding-right: 13px;
    }
    .lang::after, .address::after, .tel::after{
        content: "";
        position: absolute;
    }
    .lang::after{
        right: 415px;
        top: 8px;
    }
    .address::after{
        right: 190px;
        top: 8px;
    }
    .tel::after{
        right: 25px;
        top: 8px;
    }
    .ua,.ru, .en, .tel{
        color: #B3B3BA;;
    }
    .address{
        display: block;
        margin-right: 20px;
        font-size: 16px;
        font-style: normal;
        color: #B3B3BA;
    }
    .tel{
        position: static;
        margin-right: 26px;
    }
    .links{
        font-size: 18px;
        margin-right: 15px;
        // font-weight: lighter;
        color: #24A3FF;
    }
    .links:last-child{
        margin-right: 0;
    }
    .menu{
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        top: 94px;
        // left: 600px;
        right: 0;
        order: 2;
    }
    .menu-active{
        text-decoration: underline;
        color: #F0145A;
    }
    .links:hover{
        color: #F0145A;
    }
    .active{
        background: #F0145A; 
        color: #fff;
    }
    .publication-content{
        margin-left: 0;
        margin-right: 0;
    }
}
@font-face {
    font-family: "TT-Norms";
    src: url(../fonts/TTNorms/TTNorms-Regular.otf);
}

@font-face {
    font-family: "TT-Norms-Bold";
    src: url(../fonts/TTNorms/TTNorms-Bold.otf);
}